#TXT > #unity-text-input {
    border-width: 0;
    height: 100%;
    background-color: rgb(220, 220, 220);
    padding: 0;
}

#LineNumber > #unity-text-input {
    background-color: rgb(255, 255, 255);
    -unity-text-align: upper-right;
    padding: 0;
    border-width: 0;
}

.unity-base-fieldlabel {
    min-width: 0%;
    font-size: 14px;
}

.unity-base-fieldinput {
    padding: 0;
}

.unity-base-popup-fieldtext {
    font-size: 10px;
    width: 150px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.unity-base-dropdowncheckmark {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    min-height: 0;
    min-width: 0;
    height: 0;
    width: 0;
    font-size: 10px;
}

.unity-base-dropdown__item {
    padding: 0px;
}